[submodule "SPSuccinct"]
	path = SPSuccinct
	url = git.spotify.net:SPSuccinct
[submodule "SocketRocket"]
	path = SocketRocket
	url = https://github.com/square/SocketRocket.git
[submodule "spdeferred"]
	path = spdeferred
	url = https://github.com/btgerst/spdeferred.git
